.container {
  display: flex;
  justify-content: center;
  width: 65%;
}
.footer{
  background-color: rgb(35, 135, 148);
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}